.info-price__block {
    border-radius: 20px;
background: linear-gradient(113deg, rgba(255, 255, 255, 0.38) 4.91%, rgba(150, 193, 172, 0.00) 135.61%);
width: 94%;
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(100px);
display: flex;
justify-content: space-between;
margin: 0 0 20px;
padding: 59px 0 58px ;
}
.info-price__block:last-child {
margin: 0 0 0;
}
@media (max-width: 1900px) {
    .info-price__block {

        margin: 0 auto 20px;
    }
    .info-price__block:last-child {
        margin: 0 auto 0;
        }
     
   }
@media (max-width: 1400px) {
    .info-price__block {

        width: 100%;
    }
     
   }
@media (max-width: 700px) {
    .info-price__block {
        padding: 31px 0 30px;
        margin: 0 0 11px;
        border-radius: 10.53px;
    }
     
   }