.login__title {
    color: rgba(20, 20, 20, 1);
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 87px;
}
@media (max-width: 650px) {
    .login__title{
        font-size: 22px;
        margin: 0 0 48px;
    }
  }