.info-block__subtitle {
    color: var(--main-black, #141414);
font-size: 27px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
max-width: 570px;
margin: 5px 0 48px 0;
}
@media (max-width: 700px) {
    .info-block__subtitle{
        width: 343px;
        font-size: 16px;
        margin: 5px 0 22px 0;
    }
  }