.uslugi-calls-price__button {
    border-radius: 10px;
background: linear-gradient(90deg, #62D9E2 1.75%, #73F6B4 94.18%);
color: #FFF;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;
width: 431.478px;
height: 92.287px;
margin: auto 62px auto;
}
@media (max-width: 1050px) {
    .uslugi-calls-price__button {
        width: 250px;
        font-size: 18px;
        height: 50px;
    }
     
   }
   @media (max-width: 800px) {
    .uslugi-calls-price__button {
        width: 58.61%;
        margin: 30px auto 0;
    }
     
   }
   @media (max-width: 550px) {
    .uslugi-calls-price__button {
        height: 34px;
        font-size: 12px;
        border-radius: 5.265px;
    }
     
   }
