.cooperation__title {
color: #FFF;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
width: 57.76%;
margin: 0 auto 75px;
text-align: center;
}
@media (max-width: 1300px) {
    .cooperation__title{
        font-size: 30px;
    }
}
@media (max-width: 740px) {
    .cooperation__title{
        font-size: 16px;
        width: 371px;
        margin: 0 auto 40px;
    }
  }