.flash-info__title-block {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1396px;
}
@media (max-width: 1400px) {
    .flash-info__title-block {
        width: 960px;

    }
  }
  @media (max-width: 1100px) {
    .flash-info__title-block{
        width: 680px;

    }
  }
  @media (max-width: 740px) {
    .flash-info__title-block{
        width: 80%;
        margin: 0 auto 0 auto;

    }
  }
  @media (max-width: 440px) {
    .flash-info__title-block{
        width: 342px;
        margin: 0 auto 0 30px;

    }
  }
