.service-work__point {
    margin: 0 0 30px;
}
.service-work__point:last-child {
    margin: 0 0 0;
}
@media (max-width:740px) {
    .service-work__point {
        margin: 0 0 20px;
    }
    .service-work__point:last-child {
        margin: 0 0 0;
    }
}