.popup__container {
    background: #FFFFFF;
    border-radius: 20px;
    width: 727px;
    position: relative;
    padding: 88px 0;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);

}
@media screen and (max-width:720px){
    .popup__container{ 
        width: 320px;
        padding: 44px 0;
    }
}