.footer__info-link {
    display: flex;
    flex-direction: column;
    margin: 24px 100px 0 130px;
    font-size: 18px;
}
@media (max-width: 1060px) {
    .footer__info-link {
        margin: 24px 17px 0 35px;
        
    }
  }
@media (max-width: 765px) {
    .footer__info-link {
        margin: 38px 27px 0 35px;
        font-size: 10.205px;
    }
  }