.header__menu-image {
    visibility: hidden;
    display: none;
    height: 29px;
    background-repeat: no-repeat;
}
@media (max-width: 1200px) {
    .header__menu-image {  
        display: block;
        visibility: visible;

    }
}
@media (max-width: 700px) {
    .header__menu-image {
        width: 30px;
    }
  }