.login {
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
    width: 605px;
    margin: 166px auto 128px;
    border-radius: 20px;
    padding: 99px 0 90px;
}
@media (max-width: 650px) {
    .login{
        width: 335px;
        margin: 139px auto 0;
        padding: 54px 0 38px;

    }
  }