.articles__text {
    color: var(--main-black, #141414);
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
width: 93.77%;
margin: 0 auto 60px;
}
  @media (max-width:830px) {
    .articles__text {
        height: auto;
    }   
  
  }
  @media (max-width:830px) {
    .articles__text {
        font-size: 9px;
        line-height: 11.11px;
        margin: 0 auto 44px;
    }   
  
  }