.footer__info {
    display: flex;
    flex-direction: row;
    width: 54.38%;
    margin: 0 auto 0 274px;
}
 @media (max-width: 1919px) {
    .footer__info {
        width: 70%;
        margin: 0 auto;
    }
  } 
  @media (max-width: 1340px) {
    .footer__info {
        width: 90%;
        margin: 0 auto;
    }
  } 
@media (max-width: 999px) {
    .footer__info {
        width: 1000%;
        margin: 0 auto 0 auto;
    }
  }

@media (max-width: 765px) {
    .footer__info {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto 0 100px;
    }
  }
  @media (max-width: 600px) {
    .footer__info {
        margin: 0 auto 0 30px;
    }
  }
  @media (max-width: 450px) {
    .footer__info {
        width: 100%;
        margin: 0 auto 0 0;
    }
  }