.popup__button {
    width: 268px;
height: 64px;
border-radius: 10px;
background: rgba(210, 210, 210, 1);
border: none;
margin: 0 30px 0 0;
color: #fff;
font-size: 22px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: center;

}
.popup__button-active {
    background: linear-gradient(90deg, #62D9E2 1.75%, #73F6B4 94.18%);
}
.popup__button:last-child {
    margin: 0;
}
@media screen and (max-width:720px){
    .popup__button {
        margin: 0 0 20px;
    }
    .popup__button-active {
        background: linear-gradient(90deg, #62D9E2 1.75%, #73F6B4 94.18%);
    }
    .popup__button:last-child {
        margin: 0;
    }
}