.info-block-margin {
    max-width: 724px;
    width: 100%;
}

.info-block-margin:nth-child(2) {
    margin-left: 90px;
}
@media (max-width: 1000px) {
    .info-block-margin:nth-child(2) {
        margin-left: 0;
    }
  }