.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
}
@media (max-width: 1550px) {
    .header__nav {
        width: 80%;
    }
  } 
 @media (max-width: 1200px) {
    .header__nav {
        display: none;
        justify-content: start;
        padding-bottom: 150px;
    }
  } 