.header {
    width: 100%;
    display: flex;
    padding: 40px 0 35px;
    flex-direction: row;
    align-items: center;
    position: relative;
}

@media (max-width: 700px) {
    .header{
        padding: 40px 0 22px;
    }
  }