.line-operator {
    position: absolute;
    left: -66px;
    bottom: 58px;
}
.line-flash {
    position: absolute;
    top:-57px;
    right: 95px;
}
.line-mobile {
    position: absolute;
    top: -30px;
    right: 5px;
}
.line-sms {
    position: absolute;
    bottom: -74px;
    left: 150px;
}
@media (max-width: 1900px) {
    .all-line{
        display: none;
    }
  }
.line-voice {
    position: absolute;
    bottom: -110px;
    left: 50px;
}