.robot__text {
    color: var(--main-black, #141414);
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 14px 0 20px 36px;
}
@media (max-width:650px) {
    .robot__text{
        font-size: 12px;
        margin: 9px 0 22px 22px;
    }
}