.footer__text {
    margin: 0;
    color: var(--White, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 140%;
text-decoration: none;
}
@media (max-width: 765px) {
    .footer__text {
        font-size: 10.205px;
    }
    .footer__text:nth-child(1) {
        margin-top: 38px ;
    }
  }