.question__data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 232px;
}
@media (max-width: 1400px) {
    .question__data {
        height: 100%;
        align-items: center;
        justify-content: center;
    }
  }
@media (max-width: 700px) {
    .question__data {
        height: 100%;
        width: 329px;
    }
  }