.text-info__point {
    font-weight: 200;
}
.text-info__point:first-child {
margin-top: 20px;
}
@media (max-width: 900px) {
    .text-info__point{
       font-size: 14px;
    }
     
   }
   @media (max-width: 500px) {
    .text-info__point{
       font-size: 12px;
    }
     
   }