.robot {
    margin: 0 322px 80px 0;
}
@media (max-width:1910px) {
    .robot {
        width: 90%;
        margin: 0 auto 80px 0;
    }
}
@media (max-width:600px) {
    .robot {
        width: auto;
        margin: 0 18px 60px 30px;
    }
}