.line-info__text {
color: var(--main-black, #141414);
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
margin: 0;
padding: 46px 0 35px 0;
}
@media (max-width: 700px) {
    .line-info__text{
        font-size: 12px;
        width: 288px;
        padding: 16px 0 16px;
    }
  }