.feedback__text {
color: var(--main-black, #141414);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-variant: small-caps;
margin: 0;
}
@media (max-width: 1000px) {
    .feedback__text{
        font-size: 10px;
    }
  }