.example__text {
    color: var(--main-black, #141414);
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 0;
}
.example__text:nth-child(4) {
margin-bottom: 20px;
}
@media (max-width:700px) {
    .example__text {
        font-size: 12px;

    }
}
