.authorization-phone__button-block {
width: 239px;
height: 40px;
flex-shrink: 0;
border-radius: 10px;
background: linear-gradient(90deg, #62D9E2 1.75%, #73F6B4 94.18%);
border-style: none;
margin: 0 auto;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;

}