.lid__point-main {
    color: #000;
font-size: 17.33px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 24px;
}
.lid__point-main:nth-child(5) {
margin-bottom: 20px;
}
@media (max-width:700px) {
    .lid__point-main{
       font-size: 10px;
       margin-bottom: 17px;

    }
    .lid__point-main:nth-child(5) {
        margin-bottom: 20px;
        }
}