.partners__text {
    color: var(--main-black, #141414);
font-size: 22px;
font-weight: 300;
line-height: 27px;
letter-spacing: 0em;
text-align: left;


}
@media (max-width: 800px) {
    .partners__text{
        font-size: 12px;
        line-height: 14px;

    }
  }