.flash-info__block-text {
    margin-bottom: 65px;
    width: 1100px;
}
.flash-info__block-text:last-child {
    margin-bottom: 0;
 
}
@media (max-width: 1400px) {
    .flash-info__block-text {
        width: 835px;

    }
  }
  @media (max-width: 1100px) {
    .flash-info__block-text {
        width: 600px;
        margin-bottom: 47px;

    }
  }
  @media (max-width: 740px) {
    .flash-info__block-text {
        width: 100%;
        margin-bottom: 31px;
        font-size: 12px;
        margin-top: 10px;
    }
    .flash-info__block-text:nth-child(2) {
        margin-bottom: 39px;
    }
  }
  @media (max-width: 393px) {
    .flash-info__block-text {
        width: 289px;
        margin-bottom: 31px;
        font-size: 12px;
        margin-top: 10px;

    }
    .flash-info__block-text:nth-child(2) {
        margin-bottom: 39px;
        

    }
  }