.container {
  color: var(--main-black, #141414);
    max-width: 1410px;
    width: 100%;
    margin: 0 0 0 218px;
}
@media (min-width: 1921px) {
  .container {
      margin: 0 auto 0 auto;

  }
}
@media (max-width: 1900px) {
    .container {
        margin: 0 auto 0 auto;

    }
  }
  @media (max-width: 1410px) {
    .container {
        max-width: 1100px;
        margin: 0 auto 0 auto;

    }
  }
  @media (max-width: 1100px) {
    .container {
        max-width: 800px;
        margin: 0 auto 0 auto;

    }
  }
  @media (max-width: 400px) {
    .container {
        max-width: 360px;
        margin: 0 auto 0 auto;

    }
  }