.scheme__list {
    color: #000;
font-size: 17.33px;
font-style: normal;
font-weight: 400;
line-height: normal;
list-style-type: none;
padding-left: 13.42px;
margin:0;
min-height: 360px;
}
@media (max-width: 700px) {
    .scheme__list{
        font-size: 12px;
        min-height: auto;

    }
  }