.question {
    width: 62.6%;
    margin: 0 auto 90px;
}
@media (max-width: 1600px) {
    .question {
        width: 80%;
    }
  }
@media (max-width: 700px) {
    .question {
        width: 329px;
        margin: 0 auto 0;
    }
  }