.nps-line__text {
    color: var(--main-black, #141414);
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
width: 74.22%;
position: absolute;
margin: 0;
}
@media (max-width:900px) {
    .nps-line__text{
        font-size: 14px;
    }

}
