.login__text {
color:  rgba(0, 0, 0, 1);
font-size: 19px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: center;
margin: 0;

}
@media (max-width: 650px) {
    .login__text{
        font-size: 12px;
    }
  }