.scheme__point {
    margin:0 0 25px;
}
.scheme__point:last-child {
    margin:0 0 0;
}

@media (max-width: 700px) {
    .scheme__point{
        font-size: 12px;
        margin:0 0 20px;

    }.scheme-point-margin {
        margin-bottom: 40px;
    }
  }