.price__info {
    display: flex;
    margin-left: 45px;
}
@media (max-width: 1910px) {
    .price__info {
        margin: 127px auto 125px auto;
    }     
   }
   @media (max-width: 1200px) {
    .price__info {
        width:  84.99%;
    }     
   }
   @media (max-width: 650px) {
    .price__info {
        margin: 60px auto 60px auto;
        width:  355px;
    }    
   }
   @media (max-width: 400px) {
    .price__info {
        width:  355px;
        margin: 60px auto 60px 15px;
    }     
   }