.price__img {
    height: 206px;
    margin-top: 26px;
    margin-right: 140px;
    display: block;
}
.price__img-min-width {
    display: none;
}
@media (max-width: 1400px) {
    .price__img {
        margin: 26px auto 0 136px;
    }     
   }
   @media (max-width: 1100px) {
    .price__img {
        display: none;
    }   
    .price__img-min-width {
        display: block;
        height: 88px;
        width: 78px;
    }  
   }
   @media (max-width: 500px) {
    .price__img {
        margin: 26px auto 0 136px;
    }     
   }