.info-block__title {
color: var(--main-black, #141414);
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
max-width: 570px;
margin: 0;
}
@media (max-width: 700px) {
    .info-block__title{
        width: 343px;
        font-size: 22px;
    }
  }